package public

templ DocType() {
    <!DOCTYPE html>
}

templ Head() {
    <head>
        <link rel="stylesheet" href="/dist/tailwind.css"/> 
        <script src="/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
        <link rel="icon" type="image/x-icon" href="/dist/favicon.ico"/>
    </head>
}

templ Body(component templ.Component) {
    <body class="bg-white px-6 w-full flex flex-col relative">
        {! component}
    </body>
}
